:root {
    --lightGray: #f3f1f5;
    --lightPurple: #f0d9ff;
    --darkPurple: #bfa2db;
    --darkGray: #7f7c82;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--lightGray);
}

/* header and nav bar styles start */
header {
    background-color: var(--lightPurple);
    padding: 20px 35px;
    top: 0px;
    border-radius: 15px;
    border: 2px solid var(--darkGray);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    color: var(--darkPurple);
    font-family: 'Audiowide';
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header a {
    text-decoration: none;
    color: black;
}

header h1 a {
    padding: 0 0 0 10px;
}

header nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

header nav ul li {
    margin: 0 20px 0 20px;
}

header nav ul a {
    text-decoration: none;
    background-color: var(--lightGray);
    border-radius: 15px;
    padding: 10px 15px;
    transition: 0.25s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

header nav ul a:hover {
    background: var(--darkGray);
    color: var(--lightPurple);
    transition: 0.5s;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
/* header and nav styles end */



/* body styling start */
.mainBody {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.rightBlock, .leftBlock {
    padding: 20px;
}

.sectionTitle {
    font-family: 'Audiowide';
    font-weight: lighter;
    margin: 20px 0 20px 0;
    font-size: 30px;
}

/* left block styles start */
.leftBlock {
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.leftBlock h2 {
    padding: 0 10px 15px 10px;
    font-family: 'Audiowide';
    font-weight: lighter;
}

.avatar {
    border-radius: 50%;
    align-self: center;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leftBlockSocials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.leftBlockSocials ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 0;
}

.leftBlockSocials ul li {
    padding: 20px;
}

.leftBlockSocials ul li span a{
    color: black;
}
/* left block styles end */



/* right block styles start */
.rightBlock {
    margin: 30px 20px 30px 20px;
    display: flex;
    flex-direction: column;
}

/* about me styles start */
#aboutSection h4 {
    text-align: center;
    margin: 20px 20px 0 20px;
    font-family: 'Audiowide';
    font-weight: lighter;
}

.aboutWriting p {
    line-height: 1.75;
}
/* about me styles end */

/* cat pic styles start */
.catCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img.catPic {
    width: 100%;
    min-width: 50%;
    max-height: 11vw;
    object-fit: cover;
    border-radius: 15px;
}

.zeldaCard, .linkCard, .skullkidCard {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: var(--darkPurple);
}

.catCards p.caption {
    font-size: smaller;
    padding: 5px 0 0 0;
    font-style: italic;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
/* cat pic styles end*/

/* projects styles start */
#projectsSection h3.sectionTitle {
    margin: 50px 0 20px 0;
}

.mainProjectCard {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    background-image: url(../images/run-buddy-screenshot.jpg);
    opacity: 0.75;
    transition: 0.25s;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    border: 12px solid var(--darkGray);
}

.projectGrid a {
    text-decoration: none;
    width: 50%;
}

a .placeholderCard1 {
    display: inline block;
}

.mainProjectCard:hover {
    opacity: 1;
    transition: 0.5s;
}

.mainProjectCard p.caption, .secondaryProjectCards p.caption {
    padding: 50px;
    margin: 200px 130px 50px 0;
    background-color: var(--darkGray);
    color: var(--lightPurple);
    border-radius: 2px 15px 15px 2px;
    text-align: start;
    font-size: 17px;
    font-style: italic;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.secondaryProjectCards {
    display: flex;
    justify-content: center;
}

.placeholderCard1, .placeholderCard2 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    background-size: cover;
    border: 12px solid var(--darkGray);
    opacity: 0.75;
    transition: 0.25s;
}

.placeholderCard1 {
    background-image: url(../images/placeholder1.jpg);
}

.placeholderCard2 {
    background-image: url(../images/placeholder2.jpg);
}

.placeholderCard1:hover {
    opacity: 1;
    transition: 0.5s;
}

.placeholderCard2:hover {
    opacity: 1;
    transition: 0.5s;
}
/* project styles end */
/* main body styles end */



/* footer styles start */
footer {
    background-color: var(--lightPurple);
    padding: 20px 35px 0 35px;
    top: 0px;
    border-radius: 15px;
    border: 2px solid var(--darkGray);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* contact form styles start */
.contactDiv {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    width: 33%;
    align-self: center;
}

.contactDiv h3 {
    margin: 10px 10px 10px 0;
    font-size: 20px;
}

.formInput {
    display: block;
    width: 100%;
    border: 1px solid var(--darkGray);
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.formInput:focus {
    outline: none;
}

.contactDiv button {
    width: 50%;
    border: none;
    font-size: 14px;
    background: var(--lightGray);
    border-radius: 15px;
    padding: 10px 15px;
    transition: 0.25s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contactDiv button:hover {
    background: var(--darkGray);
    color: var(--lightPurple);
    transition: 0.5s;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
/* contact form styles end */

/* footer avatar styles start */
.avatarBlock {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px 40px 30px 40px;
}

.avatarBlock h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--darkGray);
    font-size: 30px;
    text-align: center;
    font-family: 'Audiowide';
    font-weight: lighter;
}

.avatarBlock img {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px;
}
/* footer avatar styles end */

/* footer social media styles start */

.footerSocials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.footerSocials ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

.footerSocials ul li {
    padding: 20px;
}

.footerSocials ul li span a{
    color: black;
}
/* footer social media styles end */
/* footer styles end */