:root {
    --lightGray: #f3f1f5;
    --lightPurple: #f0d9ff;
    --darkPurple: #bfa2db;
    --darkGray: #7f7c82;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--lightGray);
}

/* header and nav bar styles start */

header {
    background-color: var(--lightPurple);
    padding: 20px 35px;
    top: 0px;
    border-radius: 15px;
    border: 2px solid var(--darkGray);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    color: var(--darkPurple);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 10px;
    width: 50%;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

header nav ul li {
    margin: 0 20px 0 20px;
}

header nav ul a {
    text-decoration: none;
    background-color: var(--lightGray);
    border-radius: 15px;
    padding: 10px 15px;
    transition: 0.25s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

header nav ul a:hover {
    background: var(--darkGray);
    color: var(--lightPurple);
    transition: 0.5s;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* header and nav styles end */

/* body styling start */

.avatar {
    border-radius: 50%;
    align-self: center;
}





/* footer styles start */

footer {
    background-color: var(--lightPurple);
    padding: 20px 35px;
    top: 0px;
    border-radius: 15px;
    border: 2px solid var(--darkGray);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* contact form styles start */
.contactDiv {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
}

.contactDiv h3 {
    margin: 10px 10px 10px 0;
    font-size: 20px;
}

.formInput {
    display: block;
    width: 100%;
    border: 1px solid var(--darkGray);
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.formInput:focus {
    outline: none;
}

.contactDiv button {
    width: 50%;
    border: none;
    font-size: 14px;
    background: var(--lightGray);
    border-radius: 15px;
    padding: 10px 15px;
    transition: 0.25s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contactDiv button:hover {
    background: var(--darkGray);
    color: var(--lightPurple);
    transition: 0.5s;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
/* contact form styles end */


/* footer avatar styles start */
.footerAvatar {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footerAvatar h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--darkGray);
    font-size: 30px;
}
/* footer avatar styles end */

/* footer social media styles start */

.footerSocials {
    display: flex;
    align-items: center;
}

.footerSocials ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

.footerSocials ul li {
    padding: 20px;
}

.footerSocials ul li span a{
    color: black;
}